.mainCanvas {
    margin: 0;
}

.main {
    margin: 20px;
    padding: 0;
}

.link {
    color: grey;
    text-decoration: none;
    border-bottom: 1px solid grey;
}

.list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.list li {
    margin-bottom: 10px;
}


